body {
    margin: 0;
    font-family: cursive;
}
.topnav {
    overflow: hidden;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.topnav a {
    float: left;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: purple;
    color: black;
}
#active {
    color: black;
}
.myImages {
    height: 400px;
    margin: 0 auto;
}
#about {
    display: flex;
    justify-content: space-around;
    background-color: palegoldenrod;
}
#about-text {
    width: 50%;
}
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(nature1.jpg);
    min-height: 400px;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.section-light {
    background-color: aqua;
    color: wheat;
}
.section-dark {
    background-color: plum;
    color: black;
}
.ptext {
    position: absolute;
    top : 50%;
    width: 100%;
    text-align: center;
    color: rgb(71, 189, 150);
    font-size: 25px;
    
    text-transform: uppercase;
}

.ptext .border {
    background-color: aliceblue;
    color: black;
    padding: 7px;
}
@media(max-width: 568px) {
    .pimg3 {
        background-attachment: scroll;
    }
}